@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

/* Fonts die ik gebruikt heb voor mijn ontwerp en niet afkomstig waren van google fonts */
@font-face {
    font-family: 'Switzer-Regular';
    src: url('../fonts/Switzer-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DX-lactos';
    src: url('../fonts/DxLactos.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer-Bold';
    src: url('../fonts/Switzer-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

header img {
    margin-left: 2em;
}

/* Class om de navigatie zichtbaar te maken op de over ons page omdat die een witte achtergrond heeft */
.overons nav a {
    color: #000000;
}

/* active state in de navigatie */
.active {
    color: #04FF00;
}

/* Hier met een extra class gedaan omdat anders overruled de zwarte kleur het en werkt de active state niet  */
.overons .active {
    color: #04FF00;
}

/* Underline hover animatie  */
nav a {
    font-family: 'Switzer-Bold';
    transition: all 300ms ease;
    position: relative;
}

nav a::after {
    content: '' ;
    height: 2px;
    width: 100%;
    background-color: #04FF00;
    position: absolute;
    left: 0;
    bottom: -0.4em;
    width: 0%;
    transition: all 300ms ease;

}

nav a:hover::after {
    width: 100%;
}


h1,h2,h3 {
    font-family: "DX-lactos";
    font-weight: 400;
    font-style: normal;
  }

h3 {
    font-size: 2em;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
    font-family: 'Switzer-Regular';
}

a {
    font-size: 1em;
    font-family: 'Switzer-Regular';
}

/* Container om ruimte te creeren tussen de navigatie en logo */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* container om de navigatie naast elkaar te krijgen */
nav ul {
    display:flex;
    list-style: none;
    align-items: center;
}

nav li {
    margin: 2em;
}

nav a {
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}

/* deze class is om dat ik een soort split color heb op mijn homepage dit is dan de top heb 100vh gebruikt zodat je dan alleen de top ziet en moet scrollen om de rest van de content te zien */
.top {
    height: 100vh;
    background-color: #000000;
    color: white;
}

/* dit is de onderkant van de split */
.bottom {
    height: 100vh;
    background-color: white;
    color: #000000;
}

footer {
    background-color: #000000;
    padding: 3em;
}

footer a {
    color: white;
    text-decoration: none;
    font-family: 'Switzer-Regular';
    transition: all 300ms ease;
}

footer p {
    color: white;
    text-align: center;
    font-family: 'Switzer-Regular';
}

/* Deze class is puur om onderscheid te maken dus de normale links en die van de images */
.links {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    justify-content: center;
}


footer a:hover {
    color: #04FF00;
}

/* Ik heb hier een div gebruikt omdat je voor deze links niet een nav kan gebruiken omdat ze naar andere websites verwijzen en het zijn voor de rest links zonder enige andere betekenis */
footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
}

footer img {
    margin-bottom: 2em;
    transform: scale(1.2);
}

/* voor de iframe heb ik een max width/height toegevoegd een position en aspect ratio zodat de iframe goed in positie blijft voor verschillende devices */
iframe {
    max-width: 670px;
    max-height: 390px;
    width: 75%;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    aspect-ratio: 16 / 9;
}

/* container om alles netjes onder elkaar te krijgen */
.trailer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.trailer h2 {
    margin-left: 2%;
    margin-top: 2%;
}

.trailer p {
    margin-left: 10%;
    max-width: 75%;
}

/* span voor veranderen van kleur */
h2 span {
    color: #04FF00;
    display: block;
    text-align: right;

}

.afleveringen {
    color: white;
}

.afleveringen h2 {
    margin-left: 2%;
    margin-top: 2%;  
}

.ep1 {
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 75%;
    background-color: white;
    color: black;
    border-radius: 1.5em;
    padding: 2%;
    gap: 2em;
    
}

.ep1 img {
    border-radius: 1.2em;
}

.tekstep1 {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0 auto;
    font-size: 0.6em;
}


article img {
    max-width: 288px;
    max-height: 154px;
}

.overons {
    background-color: white;
}


.overons h2 {
    margin-left: 2%;
    margin-top: 2%; 
}

.wie {
    margin-left: 5%;
    margin-right: 5%;
}

.new1 {
    display: flex;
    flex-direction: row;
    background-color: #04FF00;
    border-radius: 2em;
    padding: 5%;
    max-width: 55%;
    align-items: center;
    gap: 4em;
    margin: 2% auto;
    
}

.intro {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: left;
    padding: 2%;
    font-size: 0.6em;
    padding-bottom: 7em;
    border-radius: 1.2em;
}

.new1 img {
    transform: scale(1.5);
}

.start {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.images {
    display: flex;
    justify-content: center;
    gap: 15em;
    transform: scale(0.8);
}

@keyframes borderplay {
    0% {border-color: blue;}
    25% {border-color: rgb(255, 0, 0);}
    50% {border-color: rgb(255, 225, 0);}
    75% {border-color: rgb(0, 255, 128);}
    100% {border-color: rgb(0, 140, 255);}

}
.ep1 .play:hover {
    border: 0.1em solid rgb(17, 0, 255);
    border-radius: 10em;
    animation: borderplay 5s infinite;
    
}

/* Hier heb ik media inquiries gebruikt om de website responsive te maken */

@media (max-width: 78em) {
    .images {
        transform: scale(0.6);
    }
}

@media (max-width: 60em) {
    .images {
        transform: scale(0.4);
    }

    .ep1 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 44em) {
    .images {
        transform: scale(0.2);
    }

    .start {
        font-size: 0.6em;
    }

    header {
        transform: scale(0.7);
        justify-content: center;
    }

    .new1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .new1 img {
        margin-top: 2em;

    }

}

@media (max-width: 28em) {
    .start {
        font-size: 0.4em;
    }

    .ep1 img {
        transform: scale(0.8);
        
    }

    header {
        justify-content: center;
    }
}

/* style bronnenpagina */

ol {
    margin-left: 5em;
    padding: 1em;
    font-family: 'Switzer-Bold';
}

ol a {
    text-decoration: none;
    color: black;
    margin-left: 2em;
    transition: all 300ms ease;
    font-family: 'Switzer-Regular';
}

ol a:hover {
    color: #04FF00;
}